@use '../globals' as *;
@use '../shared' as *;

.preloader{
  @extend %cover;
  @extend %center;
  
  font-family: $font-george-x;
  background: $color-contessa;
  text-align: center;
  display: none;
}

.preloader__text{
  @extend %title-53;

  max-width: 66rem;
}

.preloader__number{
  @extend %description-14;

  bottom: 7.3rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
